
<h1>Add An animal type</h1>
<p>Add an animal type here:</p>

<form action="/animaltypes" method="post">
  <label for="animaltype">Animal Type</label>
  <input id="animaltype" name="animaltype" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/animaltypes">Back to animal types.</a></p>